.buttonsFrame {
    height: 110px;
    align-content: center !important;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-evenly;
    border: 2px solid #8772a5;
    margin: 20px;
    border-radius: 10px;
}